:root {
  --primary-color: #c0c0c0;
  --primary-color--dark: #808080;
  --alarm-color: #f80000;

  --info-one-color: #0200fc;
  --info-two-color: #017e00;
  --info-three-color: #ff0000;
  --info-four-color: #010080;
  --info-five-color: #7f0300;
  --info-six-color: #008080;
  --info-seven-color: #000000;
  --info-eight-color: #808080;

  --cell-size: 4rem;
  --game-padding: 1.5rem;
  --border-width: 0.3rem;
  --cells-in-row: 8;

  --game-max-width: calc(
    var(--cell-size) * var(--cells-in-row) + calc(2 * var(--game-padding)) +
      calc(2 * var(--border-width))
  );
}

@font-face {
  font-family: DIGITALDREAM;
  src: url('../assets/DIGITALDREAM.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background: linear-gradient(96deg, rgba(49,69,96,0.8897934173669468) 0%, rgba(140,164,170,1) 100%);
}

html {
  font-size: 62.5%;
}

.custom__board button{
  width: 100%;
}

.game {
  background-color: var(--primary-color);
  padding: var(--game-padding);
  max-width: var(--game-max-width);
  margin-left: auto;
  margin-right: auto;

}

.game__board {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}

.header__counter {
  background-color: #000;
  color: var(--alarm-color);
  padding: 0.5rem;
  font-family: 'DIGITALDREAM', sans-serif;
  font-size: 3.2rem;
  min-width: 9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__reset {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: var(--primary-color);
}

.header__button {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}

.panel__header {
  text-align: center;
  font-size: 2.6rem;
}
.panel__buttons {
  display: flex;
}
.button {
  flex: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  cursor: pointer;
  font-size: 2.4rem;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__content,.custom-modal {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.custom-modal {
  position: absolute;
  top: 20%;
  left: 41%;
  visibility: hidden;
  width: 35vh;
  z-index: -1;
  transition: left 2.5s, z-index 2s 2s;
}
.custom-modal input {
  padding: 15px 30px;
}
.custom-error {
  visibility: hidden;
  color: red;
}
.modal__text {
  font-size: 4.8rem;
  text-align: center;
}
.modal__button , .generate-custom{
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: 0.3rem solid #000;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-in, color 0.1s ease-in,
    border-color 0.1s ease-in;
}
.modal__button:hover, .generate-custom:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.border {
  border: var(--border-width) solid;
}
.border--convex {
  border-color: var(--primary-color--dark) #fff #fff var(--primary-color--dark);
}
.border--concave {
  border-color: #fff var(--primary-color--dark) var(--primary-color--dark) #fff;
}
.border--revealed {
  border-width: 0.1rem;
  border-color: var(--primary-color--dark);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell--is-flag {
  background-image: url('../assets/flag.svg');
}

.cell--is-mine {
  background-image: url('../assets/bomb.svg');
  background-color: var(--alarm-color);
}

.cell-info-1 {
  color: var(--info-one-color);
}
.cell-info-2 {
  color: var(--info-two-color);
}
.cell-info-3 {
  color: var(--info-three-color);
}
.cell-info-4 {
  color: var(--info-four-color);
}
.cell-info-5 {
  color: var(--info-five-color);
}
.cell-info-6 {
  color: var(--info-six-color);
}
.cell-info-7 {
  color: var(--info-seven-color);
}
.cell-info-8 {
  color: var(--info-eight-color);
}

.hide {
  visibility: hidden;
}
.customHide {
  visibility: visible;
  z-index: 1;
}